---
layout: default
---

<div class='container'>
  <div class='row'>
    <div class='col-sm-3 col-sm-offset-2 col-xs-6 col-xs-offset-3 hidden-xs'>
      <img src='assets/i_love_less.jpg' class='img-responsive img-circle' alt='Profile-picture' />
    </div>
    <div class='col-sm-4 col-sm-offset-1'>
      <h2>Willkommen</h2>
        <p>This is my website, portfolio and blog. Also a playground and a side project itself. Also very much unfinished - really more of a placeholder filled with even more placeholders. I'm working on it...</p>
        <p>You can find me here:</p>
        <ul class="list-unstyled">
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li>{% include icon-twitter.html username=site.twitter_username %}</li>
        </ul>
    </div>
  </div>
  
  <div class='row'>
    <div class="col-sm-4 col-sm-offset-6">
      <h1>Blog</h1>
    </div>

    <div class="col-sm-4 col-sm-offset-6">
      <ul class='list-unstyled'>
        {% for post in site.posts %}
          <li>
            <a class='' href="{{ post.url | prepend: site.baseurl }}"><h4>{{ post.title }} <small>({{ post.date | date: "%b %-d, %Y" }})</small></h4></a>
            <!-- <p>{{ post.excerpt | strip_html }}</p> -->
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>