---
layout: default
permalink: /portfolio/
title: portfolio
---

<div class='container'>
  <div class="row col-lg-offset-2">
    {% for entry in site.portfolio %}
    <div class="col-xs-6 col-lg-5">
      <h2>{{ entry.title | remove: ',' }}</h2>
      <p>
      {% for tag in entry.categories %}
        <span class="label label-primary">{{ tag }}</span>
      {% endfor %}
      </p>
      <p>{{ entry.excerpt | strip_html }}</p>
      <p><a class="btn btn-default" href="{{ entry.url | prepend: site.baseurl }}" role="button">View details &raquo;</a></p>
    </div><!--/.col-xs-6.col-lg-5-->
    {% endfor %}
  </div><!--/.row col-lg-offset-2"-->
</div><!--/.container-->
