<div class='navbar navbar-default navbar-static-top'>
  <div class='container'>
    <div class='navbar-header'>
      <a href='{{ site.baseurl }}/' class='navbar-brand'>Johannes Müller</a>

      <button type='button' class='navbar-toggle'
              data-toggle='collapse'
              data-target='.navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
      <li><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/about">About me</a></li>
    </ul>
  </div>
</div>